<h2><%=@article.title %></h2>
<p>Content : <%=@article.content %></p>
<%= link_to "back to list", articles_path%>
<%= link_to "update an article", edit_article_path%>
<%= link_to "Delete",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
